%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"titleaction"}% %TMPL:END%
%TMPL:DEF{"webaction"}%%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Topic name not allowed"}%%TMPL:END%
%TMPL:DEF{"topicaction"}%%TMPL:END%

%TMPL:DEF{"message"}%
%MAKETEXT{"Can not [_1] topic named <b><nop>[_2]</b>: [_3]" args="%PARAM1%, %PARAM2%, %PARAM3%"}%

%TMPL:P{"goback"}%
%TMPL:END%
